@media screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

// @media screen and (max-width: 600px) {
//   html {
//     font-size: 14px;
//   }
// }

body {
  // background: #eb4c42;
  background: #ED6A5A;
  //night mode #29335C
}

.header {
  border-bottom: solid;
}

.Date-header {
  h1 {
    font-weight: 600;
    margin: 0;
    font-size: 36px;
    line-height: normal;
  }
  background-color: #eb4c42;
  color: white;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 100px;
  padding-bottom: 5px;;
  width:fit-content;
}

.outdoor-details {
  h1 {
    font-size: 28px;
  }
  justify-content: center;
  // background: #eba142;
  // border-top-left-radius: 50px;
  // padding: 25px 25px;
  color: #ED6A5A;
}

.outdoor-temp {
  // margin-bottom: 40px;
  align-items: center;
  // background: #eb4c42;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  justify-content: center;
  // text-align: center;
  padding: 50px;
  color: white;

  h1 {
    grid-row: 1 /3;
    font-size: 6rem;
    margin: 0 8px;

    span {
      font-size: 20px;
    }
  }
  h2 {
    // font-weight: 400;
    // margin-top: 0;
    // background: white;
    // color: #EB4C58;
    // border-radius: 30px;
    // padding: 4px 25px;
    font-size: 1.75rem;
  }
  h3 {
    margin-top: 0;
    background: white;
    color: #EB4C58;
    border-radius: 30px;
    padding: 4px 25px;
    font-size: 1.4rem;
  }
}

.outdoor-temp-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forecast-high {
  grid-column: 2;
  align-self: flex-end;
  margin-bottom: -2px;
}

#forecast-low {
  grid-row: 1;
  grid-row: 2;
  align-self: flex-start;
  margin-top: 12px;
}

.minor-label {
  font-size: 1.4rem;
  font-weight: 400;
}

.App-link {
  color: #61dafb;
}

.wrapper-1 {
  // background: #eba142;
}

.wrapper-2 {
  // background: #eb4c42;
}

.wrapper-3 {
  // background: #eba142;
}

.rain-details {
  h1 {
    font-size: 28px;
  }
  // justify-content: center;
  padding: 25px 25px;
  color: white;
  background: #428ceb;
  border-radius: 25px;
  margin: 15px;
  flex-basis: 28%;

  h2 {
    margin-top: 0;
  }
}

.info-item {
  // display: flex;
  // justify-content: flex-end;
  // flex-direction: column;
}

.glance-item {
  // border: 3px solid #eb4c42;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  background: #fef4f3;
  color: #eb4c42;
  margin: 10px 20px;
  text-align: center;
  padding: 20px 15px;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 35px;
    margin-top: 0;
  }
  h4 {
    background: #eb4c42;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 8px;
    font-size: 1.2rem;
    // border: 2px solid #eb4c42;
  }

  @media screen and (max-width: 500px) {
    flex-basis: 80%;
    max-width: 80%;

    h1 {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 960px) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  @media screen and (min-width: 1100px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  @media screen and (min-width: 1400px) {
    flex-basis: 21%;
    max-width: 21%;
  }
}

.more-details {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.temp-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 15px;
}

.chart-item {  
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  background: #fef4f3;
  color: #eb4c42;
  margin: 10px 20px;
  text-align: center;
  padding: 20px 15px;
  // position: relative;

  h4 {
    background: #eb4c42;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 8px;
    font-size: 1.2rem;
    // border: 2px solid #eb4c42;
  }

  @media screen and (min-width: 1000px) {
    flex-basis: 66%;
    max-width: 66%;
  }
  @media screen and (max-width: 500px) {
    flex-basis: 75%;
    max-width: 75%;
  }
  @media screen and (min-width: 960px) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}